body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(133, 139, 226);
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: rgb(30, 30, 31);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

}

.img{
    width: 2cm;
    height: 2cm;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10cm;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options {
    align-self: flex-start;
    margin-bottom: 10px;
}

.options label {
    font-size: 14px;
}

.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.links a {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
}

.login-form p {
    margin: 20px 0 10px;
}

.social-login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.social-login button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.google {
    background-color: #db4437;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}
