body {
    font-family: Arial, sans-serif;
    margin: 40px;
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
label, p {
    font-weight: bold;
    margin-top: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}
input[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}